* {
  box-sizing: border-box;        
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Martel', sans-serif; 
  font-size: 1em;
  color: black;
  line-height: 1.5;
  background-color: lavender;   
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}

img {
  max-width: 70%;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 1rem;
}

hr {
  max-width: 100%;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: .3125rem 1rem;
}

.intro {
  text-align: center;
  font-size: 1.15em;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.portfolio {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: beige;
  background-image: linear-gradient(rgba(187,15,199,.5) 25%, rgba(161,57,88,.5) 75%);
}

.contact {
  text-align: center;
  margin: 0 auto;
}

.sec {
  margin: 1em;
  padding: 1em 0;
}

.sec:hover {
  transform: scale(1.05);
  transition: 1s;
}

.foot {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-nav {
  display: none;
}

/* Media Queries */ 

@media (min-width: 768px) {

  footer{
    max-width: 80%;
    margin: 0 auto;
  }

  .main-header,
  .main-nav,
  .intro,
  .sections {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    margin: 1.5rem 0;
    align-items: flex-start;
    text-align: left;
    flex-direction: row;
  }

  .bio {
    margin-top: 0;
    padding: 0 16px;
    order: -1;
  }

  .sections {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio {
    margin: 0 1em;
  }

  .portfolio img {
    max-width: 100%;
  }

  .portfolio h3 {
    text-align: center;
  }

  .sec {
    margin: 1em auto;
    padding: 1em;
    max-width: 27%;
  }

  .profile {
    padding-right: 16px;
  }

  .contact {
    padding: 1em 0;
  }

  #back {
    display: none;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-nav a {
    padding: 1em 0 1em 1em;
  }
}

@media (min-width: 1024px) {
  
  .main-header {
    /* margin-left: 1rem; */
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .intro {
    padding: 0 1.5rem;
  }

  .name {
    padding-left: .5em;
  }
  
  #interest {
    margin: 1em 2.5em;
    padding: 0 2.5em;
  }
}